<?xml version="1.0" encoding="UTF-8"?>
<configuration name="${project.artifactId}">

	<properties>
        <property name="message_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
    </properties>

   <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${message_pattern}"/>
        </Console>
    </appenders>
	
	<loggers>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </loggers>
</configuration>
